@tailwind base;
@tailwind components;
@tailwind utilities;

.mask-linear {
  mask: linear-gradient(black, transparent 95%);
}

.h-screen-nonav {
  height: calc(100vh - 64px);
}

.min-h-screen-nonav {
  min-height: calc(100vh - 64px);
}
